* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
    background-color: #fff;
    margin: 10px;

}
.navbar {
  background: #7d1535;
  border-radius: 50px 50px 50px 0px;
  padding: 2.5px 20px 2.5px 5px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seccionlogo{
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
.seccionlogo h1 {
  color: white;
  font-size: 32px;
  font-weight: 400;
}
.menu {
  display: flex;
  gap: 50px;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 600;
}
#contenido{
     display: flex;
}
.sidebar{
    width: 70px;
    height: auto;
    min-height: 700px;
    background: #7d1535;
    padding: 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 0px 0px 50px 50px;
}
.sidebar button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.lucide {
    stroke: white;
    color: white;
    width: 32px;
    height: 32px;
    stroke-width: 2px;
    transition: 0.3s;
}
.sidebar button:hover .lucide {
    color: #ff9fb2;
    transform: scale(1.1);
}
main {
    flex-grow: 1;
    background-color: #f4f4f7; 
    margin: 20px;
    border-radius: 40px; 
    padding: 30px;
    height: calc(100vh - 110px); 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.iniciarsesion{
  display: flex;
  align-items: center;
  flex-direction: column;

}

.iniciarsesion {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
}

.titulo h2 {
    font-size: 60px;
    font-weight: bold;
    color: #111;
    margin-bottom: 60px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.formulario label {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    align-self: flex-start;
}

.formulario input {
    width: 500px;
    height: 70px;

    border: 1px solid #777;
    border-radius: 15px;

    background: transparent;
    padding: 20px;
    font-size: 22px;
    outline: none;
}

.botones {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.botones button {
    background: #9b3550;
    color: white;
    border: none;

    width: 260px;
    height: 70px;

    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.botones button:hover {
    transform: scale(1.05);
}
